{% load static %}
<link rel='stylesheet' href='../../static/styles.css'>
<a href='/' class='buttonstyle'><button>Home</button></a>
<h2>{{twitteruser.username}}</h2>
<h3><a href='/profile/{{twitteruser.id}}'>@{{twitteruser.username}}</a></h3>
<p>Bio: {{twitteruser.bio}}</p>
<div>
    <a href='/follow/{{twitteruser.id}}'><button>Follow?</button></a>
    <a href='/unfollow/{{twitteruser.id}}'><button>Unfollow?</button></a>
</div>
<div class='tweetspot'>
    <h4>@{{twitteruser.username}} Tweets:</h4>
    <ul>
        {% for item in tweets %}
        <li>
            {{ item.user }}
            {{ item.message }}
            <a href='/view_tweet/{{item.id}}'>{{item.post_time}}</a>
        </li>
        {% endfor %}
    </ul>
</div>